<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align titulo" style = "color:black"> ¿Qué te gusta?</h1>
            <div class="carousel center -align">
                <div class="carousel-item">
                    <h2 class="subtitulo" style = "color:white" >Artilugios</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Artesanales</p>
                    <img src="https://cdnb.artstation.com/p/assets/images/images/009/573/357/large/jose-luis-castro-c-toritos-vista-02.jpg?1519744305" alt="">
                </div>

                <div class="carousel-item">
                    <h2 class="subtitulo" style = "color:white">Jarrones</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Artesanales</p>
                    <img src="https://previews.123rf.com/images/keladawy/keladawy1608/keladawy160800021/63909595-vista-frontal-que-muestra-una-composici%C3%B3n-de-jarrones-de-cer%C3%A1mica-artesanales-pintados-art%C3%ADsticos.jpg" alt="">
                </div>

                <div class="carousel-item">
                        <h2 class="subtitulo"style = "color:white">Tejidos</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Artesanales</p>
                        <img src="https://thumbs.dreamstime.com/b/tejidos-de-seda-tailandeses-artesanales-con-decoraci%C3%B3n-tradicional-adornos-culturales-hermosos-164599188.jpg" alt="">
                    </div>
                  
                </div>
            </div>
            

        </div>
    </div>
</div>

<div class="container">
  


    
</div>

<section id="gtco-menu" class="section-padding">
    <div >
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Explora
                        </span>
                        <h2>
                            Catálogo de Artesanía
                        </h2>
                        <div class="col-12">
                            <a href="{{ url_for('login') }}" role="button"> <button class="btn btn-primary"  type="submit">Comprar</button> </a>
                          
                        </div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Toritos de Pucará</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://www.argentariaperu.com/wp-content/uploads/2019/11/MG_5605-600x600.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Torito Azul</h4>
                                    <h6>Tamaño: 15 cm | Pintado a mano</h6>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://greenhouse.com.pe/1229-large_default/torito-de-pucara-rojo-con-suculenta.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Torito Rojo</h4>
                                    <h6>Tamaño: 16 cm | Pintado a mano</h6>
                                </div>
                            
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://i.linio.com/p/d09a2d653d6e44f568bb461ebd58cff3-product.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Torito Turquesa</h4>
                                    <h6>Tamaño: 17 cm | Pintado a mano</h6>
                                </div>
                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Retablos</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://peru.info/Portals/0/Images/Productos/6/101-imagen-1773229122017.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Retablo Ayacucho</h4>
                                    <h6>Tamaño: 45 cm | Hecho a mano</h6>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://pbs.twimg.com/media/FHdHdm2XMAIlbS4.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Retablo Piurano</h4>
                                    <h6>Tamaño: 45 cm | Hecho a mano</h6>
                                </div>
                                <div class="col-2">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://i.pinimg.com/originals/3e/17/fe/3e17fe29d842c21136c9499c84232dd0.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Retablo Cuzqueño</h4>
                                    <h6>Tamaño: 45 cm | Hecho a mano</h6>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Otros</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://www.yourdesignerwear.com/pub/media/catalog/product/cache/3f8f68f85693802ff1cb8bfb8c71680a/m/u/multicolor-art-silk-potli-purse-roy353509.jpg
                            " alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Mochila Luna</h4>
                                    <h6>Tamaño: 45 cm | Tejido a mano</h6>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://d20f60vzbd93dl.cloudfront.net/uploads/tienda_000797/tienda_000797_ad7bb4961739ef4560f349def78e376b8f85ecd0_producto_large_90.png" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Cerámica</h4>
                                    <h6>Tamaño: 45 cm | Hecho a mano</h6>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="https://d15yqn4xt8exgp.cloudfront.net/media/products/TTP000285/inka-products-tissu-traditionnel-du-cusco-tisse-main-motifs-ethniques-4-20210925021840.jpeg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Funda Almohada</h4>
                                    <h6>Tamaño: 40 cm | Tejida a mano</h6>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>    

    



{% endblock%}
