{% extends "layout.html" %}

{% block content %}
<div class="container1">
  <h1 class="center">Inicio Sesión</h1>
  <h4 class="center">Ingresa para comprar </h4>
<form class="form-group" action="{{url_for('login')}}" method="post">
  <label> Correo</label>
  <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo" >
  <label> Contraseña</label>
  <input type="password" class="form-control" name="contrasena" placeholder="Contrasena" id="contrasena" >
  <input type="submit" value="Login" class="form-control btn btn-success" name="">
</form>
{% with messages = get_flashed_messages()  %}
{% if messages   %}
{% for message in messages  %}
<div class="alert alert-success alert- dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"> x </span>

  </button>

</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{%endblock %}  