{% extends "layout.html" %}

{% block content %}
<div class = "container1">
	<h1 class = "center"> Registro </h1>
	<h4 class="center">Registrate para comprar</h4>
<form class="row g-3 needs-validation" id="form" novalidate>
	<div class="col-md-3">
	  <label for="validationCustom01" class="form-label">Nombres</label>
	  <input type="text" name="nombres" id="nombres" placeholder="Nombres" required>
	  
	</div>
	<div class="col-md-3">
	  <label for="validationCustom02" class="form-label">Apellidos</label>
	  <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required>
	 
	</div>
	<div class="col-md-3">
	  <label for="validationCustomUsername" class="form-label">Correo</label>
	  <div class="input-group has-validation">
		<input type="email" name="correo" placeholder="name@example.com" class="form-control" id="correo"  aria-describedby="inputGroupPrepend" required>
		<div class="invalid-feedback">
		  Correo inválido.
		</div>
	  </div>
	</div>
	<div class="col-md-3">
	  <label for="validationCustom03" class="form-label">Contraseña</label>
	  <input type="password" name="contrasena" class="form-control" id="contrasena" required>
	  <div class="invalid-feedback">
			Contraseña inválida.
	  </div>
	</div>
	<div class="col-12">
	    <a href="{{ url_for('home') }}" role="button"> <button id="registrar" class="btn btn-primary"  type="submit">Registrar</button> </a>
	  
	</div>
  </form>
</div>


<script>
	document.getElementById('form').onsubmit = function(e){
		e.preventDefault();
		fetch('/register/registrar', {
			method: 'POST',
			body: JSON.stringify({
				'nombres':document.getElementById('nombres').value,
				'apellidos':document.getElementById('apellidos').value,
				'correo':document.getElementById('correo').value,
				'contrasena':document.getElementById('contrasena').value
			}),
			headers: {
				'Content-Type' : 'application/json'
			}
		})
	}
	let refresh = document.getElementById('registrar');
	refresh.addEventListener('click', _ => {
            location.reload();
})
</script>
{% endblock%}
