{% extends "interfaz.html" %}\

{% block title %}Usuario{% endblock %}
{% block content %}
<h1 class="h2"> Interfaz de compra</h1>
<p>Bienvenid@, {{ nombres }}!</p>
<table class="table caption-top">
    <h3>Categorias</h3> 
    <thead>   
        <div class="row">
            <div class="col-4">
                <a class="thumb-menu">
                    <img class="img-fluid img-cover" src="https://greenhouse.com.pe/1228-large_default/torito-de-pucara-negro-con-suculenta.jpg" />
                   
                    
                </a>
            </div>
            <div class="col-4">
                <a  class="thumb-menu">
                    <img class="img-fluid img-cover" src="https://gestion.pe/resizer/uGATgJL3yYS8LcrBIExf4jDrtFA=/1200x1200/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/ZBKVBH3SZVH3NGXZUHY4PBAS4E.JPG" />
                    
                </a>
            </div>
            <div class="col-4">
                <a  class="thumb-menu">
                    <img class="img-fluid img-cover" src="https://pbs.twimg.com/media/ElXRwMMX0AAoM96.png"/>  
                   
                </a>
            </div>
        </div>
        <ul id="lists">
            {% for list in categorias%}
                <li><h4><a href="/categoria/{{list.id}}">{{list.nombre_categoria}}</a></h4></li>
            {% endfor %}
        </ul>
        <div>
            <br>
            <br>
            
        </div>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div class="box">
          
                <th id="catalogos">
                {% for cat in catalogos %}
                <tr>
                    <td>
                        {{ cat.id }}
                    </td>
                    <td>
                        {{ cat.producto }}
                    </td>
                    <td>
                        {{ cat.precio }}
                    </td>
                  
                   <td>
                        <a href="https://api.whatsapp.com/send?phone=51940192870&text=¡Hola!%20Estoy%20interesad@%20en%20comprar%20un%20producto%20en%20Artky."><input type="button" value="Comprar"></a>
                    </td>
                </tr>    
                {% endfor %}
                </th>
           
        </div>
      </tr>
    </tbody>
  </table>


{% endblock %}  